
        <!-- Bilal Ma- Footer -->
{% comment %} 
<footer class="py-3 bg-dark">
  <div class="container">
      <p class="m-0 text-center text-white">Projet réalisé par Maayoud Bilal, X, X</p>
      <p class="m-0 text-center text-white">Projet d'intégration de développement 2023-2024 | Institut des Carrières Commerciales</p>
  </div>
</footer> {% endcomment %}
        <!-- Style Css -->
{% comment %} 
  <style>
       
    body {
        padding-bottom: 100px; 
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #343a40;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
    }
    @media (max-width: 768px) {
        body {
            padding-bottom: 200px; 
        }
    }
</style> {% endcomment %}

        <!-- Bilal Ma- finale - Footer -->

        <!-- Edward - class="muted-text" supprimé car illisible (gris foncé sur noir)-->
<footer class="footer bg-dark">
  <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-3 text-center">
              <h5 class="text-white">Team Django</h5>
          </div>
          <div class="col-md-6 text-center">
            <a href="https://github.com/bryanmramsamy/ICC-ProjetIntegrationDeveloppement_2019-2020.git" class="small">Projet réalisé par Bilal, Etienne et Edward: dépôt GitHub</a>
            <p class="extra-small-text">Projet d'intégration de développement 2023-2024 | Institut des Carrières Commerciales</p>
          </div>
          <div class="col-md-3 text-center">
              <p>© 2024 TEAM E.B.F | <a href="#">Confidentialité</a></p>
          </div>
      </div>
  </div>
</footer>
<style>
  .extra-small-text {
      font-size: 10px; /* Taille de "realisé par :" personnalisée */
  }
</style>

