<!------------------- Billy : NavBar - Version 1.1 ----------------------->

{% comment %} <nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'catalogue:home_index' %}"
            ><i class="fas fa-home"></i> Catalogue</a
        >
        <button
            class="navbar-toggler"
            data-target="#collapsibleNavbar"
            data-toggle="collapse"
            type="button"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'catalogue:home_index' %}"
                        >Accueil</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'catalogue:show_index' %}"
                        >Liste des spectacles</a
                    >
                </li>


                <!-- Afficher l'onglet pour les administrateurs uniquement -->
                {% if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link"
                    href="{% url 'admin:index' %}"
                    >Administration
                </a>
                </li>
                {% endif %}

                <!-------------------BM - Changer pseudo/mot_passe uniquement si user est connecter  ----------------------->

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a
                        href="{% url 'accounts:change_username' %}"
                        class="nav-link"
                        >Changer de pseudo</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        href="{% url 'accounts:change_password' %}"
                        class="nav-link"
                        >Changer le mot de passe</a
                    >
                </li>

                {% endif %}
                <!-------------------Fin - Changer pseudo/mot_passe uniquement si user est connecter  ----------------------->
                <!------------------- Auth - Bilal Maayoud ----------------------->
                <li>
                    {% if user.is_authenticated %}
                    <p>
                        Connecté sous {{ user.username }} |
                        <a href="{% url 'accounts:logout' %}"
                            >Déconnexion</a
                        >
                    </p>
                    {% else %}
                    <p>
                        <a href="{% url 'accounts:login' %}"
                            >Connexion</a
                        >
                        <a
                            class="nav-link"
                            href="{% url 'accounts:register' %}"
                            >Inscription</a
                        >
                    </p>
                    {% endif %}
                </li>
                <!-------------------FIN - Auth - Bilal Maayoud ----------------------->



            </ul>
        </div>
    </div>
</nav> {% endcomment %}


<!------------------- Billy&Etienne : NavBar - Version 1.2 ----------------------->

{% block head %}
    <!-- Insérez ici les balises meta et les liens CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'catalogue:home_index' %}">
                <i class="fas fa-home"></i> Projet Intégration
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:home_index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:show_index' %}">Spectacles</a>
                    </li>
                    <!-- Edward -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:artist_index' %}">Artistes</a>
                    </li>
                    <!------------------- Admin - Etienne ----------------------->

                    {% if user.is_authenticated and user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Administration</a>
                    </li>
                    {% endif %}
                    <!------------------- Fin-Admin - Etienne ----------------------->


                    <!------------------- Search Bar - Edward ----------------------->

                    <form class="d-flex" role="search">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                    <!------------------- Fin- Search Bar - Edward ----------------------->

                <!------------------- Auth - Bilal Ma ----------------------->

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Connecté sous {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'accounts:change_username' %}">Changer de pseudo</a>
                            <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Changer le mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">Inscription</a>
                    </li>
                    {% endif %}
                    <!-------------------FIN - Auth - Bilal Maayoud ----------------------->

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block scripts %}
    <!-- Insérez ici les scripts JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}

