<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'catalogue:home_index' %}"
            ><i class="fas fa-home"></i> Catalogue</a
        >
        <button
            class="navbar-toggler"
            data-target="#collapsibleNavbar"
            data-toggle="collapse"
            type="button"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'catalogue:home_index' %}"
                        >Accueil</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'catalogue:show_index' %}"
                        >Liste des spectacles</a
                    >
                </li>


                <!-- Afficher l'onglet pour les administrateurs uniquement -->
                {% if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link"
                    href="{% url 'admin:index' %}"
                    >Administration
                </a>
                </li>
                {% endif %}

                <!-------------------BM - Changer pseudo/mot_passe uniquement si user est connecter  ----------------------->

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a
                        href="{% url 'accounts:change_username' %}"
                        class="nav-link"
                        >Changer de pseudo</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        href="{% url 'accounts:change_password' %}"
                        class="nav-link"
                        >Changer le mot de passe</a
                    >
                </li>

                {% endif %}
                <!-------------------Fin - Changer pseudo/mot_passe uniquement si user est connecter  ----------------------->
                <!------------------- Auth - Bilal Maayoud ----------------------->
                <li>
                    {% if user.is_authenticated %}
                    <p>
                        Connecté sous {{ user.username }} |
                        <a href="{% url 'accounts:logout' %}"
                            >Déconnexion</a
                        >
                    </p>
                    {% else %}
                    <p>
                        <a href="{% url 'accounts:login' %}"
                            >Connexion</a
                        >
                        <a
                            class="nav-link"
                            href="{% url 'accounts:register' %}"
                            >Inscription</a
                        >
                    </p>
                    {% endif %}
                </li>
                <!-------------------FIN - Auth - Bilal Maayoud ----------------------->



            </ul>
        </div>
    </div>
</nav>