{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ show.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="card-title">{{ show.title }}</h1>

                    {% if show.poster %}
                    <img src="{{ show.poster.url }}" class="img-fluid mb-3" alt="{{ show.title }}">
                    {% else %}
                    <p>Aucune image disponible</p>
                    {% endif %}
                    
                    {% if show.description %}
                    <p class="card-text"><strong>Description:</strong> {{ show.description }}</p>
                    {% endif %}

                    {% if show.location %}
                    <p class="card-text"><strong>Lieu de création:</strong> {{ show.location.designation }}</p>
                    {% endif %}

                    <p class="card-text"><strong>Prix:</strong> {{ show.price }} €</p>

                    {% if show.bookable %}
                    <p class="card-text"><em>Réservable</em></p>
                    {% else %}
                    <p class="card-text"><em>Non réservable</em></p>
                    {% endif %}

                    <!--Boucle pour afficher video et message si aucune video associer au show-->>
                    {% if videos %}
                        {% for video in videos %}
                        <h3>{{ video.title }}</h3>
                            {% if "youtube.com" in video.video_url %}
                                {% with video.video_url|slice:"-11:" as video_id %}
                                    <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <p><em>Aucune video disponible</em></p>
                    {% endif %}

                    {% if user.is_superuser %}
                        <hr>
                        <h3>Add a new video</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add Video</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
