
<!-- Bilal Maayoud - enregistement avec succes -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription réussie</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h1 class="text-center">Félicitations !</h1>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Vous êtes maintenant inscrit.</p>
                        <div class="text-center">
                            {% if user.is_authenticated %}
                                <a href="{% url 'catalogue:home_index' %}" class="btn btn-primary">Continuer</a>
                            {% else %}
                                <a href="/" class="btn btn-primary">Retour à la page d'accueil</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
