{% extends 'layouts/base.html' %}

{% block title %}Liste des localités{% endblock %}

{% block content %}
    <div class="list-group">
        {% for locality in object_list %}
            <a href="{% url 'catalogue:locality_show' pk=locality.pk %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ locality.nom }} - {{ locality.code_postal }}</h5>
                </div>
            </a>
        {% empty %}
            <a href="#" class="list-group-item list-group-item-action disabled">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Aucune localité disponible.</h5>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
